{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-flex mt-5">
    <h3 class="mb-4">Create Listing</h3>

    <form action="{% url 'createlisting' %}" method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ listing_form.title.id_for_label }}">Title of listing</label><br>
            {{ listing_form.title }}
        </div>

        <div class="form-group">
            <label for="{{ listing_form.description.id_for_label }}">Description of listing</label><br>
            {{ listing_form.description }}
        </div>

        <div class="form-group">
            <label for="{{ listing_form.bid.id_for_label }}">Starting bid</label><br>
            {{ listing_form.bid }}
        </div>

        <div class="form-group">
            <label for="{{ listing_form.image_url.id_for_label }}">Image URL</label><br>
            {{ listing_form.image_url }}
        </div>

        <div class="form-group">
            <label for="{{ listing_form.categories.id_for_label }}">Category</label><br>
            {{ listing_form.categories }}
        </div>

        <div class="form-group">
            <label for="{{ listing_form.new_category.id_for_label }}">Optional: new category</label><br>
            {{ listing_form.new_category }}
        </div>

        <input type="submit" class="btn btn-primary">
    </form>
</div>
{% endblock %}
