{% extends "auctions/layout.html" %}

{% block body %}
<div class="container mt-5">
    <div class="card mb-5">
        <div class="row no-gutters">
            <!-- Image on the left -->
            <div class="col-md-5">
                <img src="{{ listing.image_url }}" class="card-img" alt="{{ listing.title }}">
            </div>
            <!-- Details on the right -->
            <div class="col-md-7">
                <div class="card-body">
                    <h3 class="card-title">{{ listing.title }}</h3>
                    <p class="card-text"><small class="text-muted">By {{ listing.creator }}</small></p>
                    {% if listing.active %}
                        <p class="card-text">Listing Status: Auction Active</p>
                    {% else %}
                        <p class="card-text">Listing Status: Auction Closed - Won By {{ listing.winner }}</p>
                    {% endif %}
                    <p class="card-text">Category: {{ listing.category }}</p>
                    <p class="card-text">{{ listing.description }}</p>
                    <p class="card-text">Price: ${{ listing.price }}</p>


                    {% if user.is_authenticated and listing.active %}
                    <form action="{% url 'listing_bid' listing.id %}" method="POST">
                        {% csrf_token %}
                        {{ bid_form.as_p }}
                        <input type="submit" value="Bid on this listing" class="btn btn-warning">
                    </form>
                        {% if message %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                        {% else %}
                    {% endif %}

                    {% if user.is_authenticated and listing.active %}
                        {% if listing in user.watchlist.listings.all %}
                            <a href="{% url 'toggle_watchlist' listing.id %}" class="btn btn-warning">Remove from Watchlist</a>
                        {% else %}
                            <a href="{% url 'toggle_watchlist' listing.id %}" class="btn btn-primary">Add to Watchlist</a>
                        {% endif %}
                    {% endif %}


                    <h4>All Bids</h4>
                    {% if bids %}
                        <ul>
                        {% for bid in bids %}
                            <li>{{ bid.bidder }} placed a bid of ${{ bid.price }}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>No bids placed yet!</p>
                    {% endif %}

                    {% if user.is_authenticated and listing.active %}
                    <h4>Comments</h4>
                    <form action="{% url 'listing' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <input type="submit" value="Add Comment" class="btn btn-primary">
                    </form>
                    {% endif %}
                    {% if comments %}
                        <ul>
                        {% for comment in comments %}
                            <li>
                                <strong>{{ comment.user.username }}</strong> ({{ comment.timestamp|date:"Y-m-d H:i" }}): {{ comment.comment }}
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>No comments yet!</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
