{% extends "network/layout.html" %}

{% block body %}
    <div class="container mt-4">

        <div class="container m-1">
            <h3>your feed</h3>
        </div>

    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-header">
                <a href="{% url 'user_page' post.user.username %}">{{ post.user.username }}</a> on {{ post.timestamp|date:"M d, Y H:i" }}
            </div>
            <div class="card-body">
                <p class="card-text">{{ post.content }}</p>
            </div>
            <div class="card-footer text-muted">
                <span class="mr-2">{{ post.count_likes }} likes</span>
                <!-- Placeholder for Like Button -->
                <!-- Placeholder for Comment Button -->
            </div>
        </div>
    {% empty %}
        <div class="container m-1">
            <p>you're not following anyone :(</p>
        </div>

    {% endfor %}
    </div>
{% endblock %}